.title {
    height: 5rem;
}

.content {
    flex: 1;
    padding: 2px;
}

#calendar {
    width: 90vw;
    aspect-ratio: 4/3;
    border: 2px solid limegreen;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.cell {
    border: 1px solid lime;
    margin: 2px;
}
